.registration {
    &__headline {
        font-size: var(--size-xs);
    }

    &__forms {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
        @include md {
            flex-direction: row;
        }
    }
}


