@charset "UTF-8";
/* Font-face подключения в вашем стиле */
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-ExtraBold.ttf") format("truetype"), url("fonts/Manrope-ExtraBold.woff") format("woff"), url("fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Bold.ttf") format("truetype"), url("fonts/Manrope-Bold.woff") format("woff"), url("fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Semibold.ttf") format("truetype"), url("fonts/Manrope-Semibold.woff") format("woff"), url("fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Medium.ttf") format("truetype"), url("fonts/Manrope-Medium.woff") format("woff"), url("fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Regular.ttf") format("truetype"), url("fonts/Manrope-Regular.woff") format("woff"), url("fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Light.ttf") format("truetype"), url("fonts/Manrope-Light.woff") format("woff"), url("fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Thin.ttf") format("truetype"), url("fonts/Manrope-Thin.woff") format("woff"), url("fonts/Manrope-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Manrope-Medium.ttf") format("truetype"), url("fonts/Manrope-Medium.woff") format("woff"), url("fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Second";
  src: url("fonts/DaMiOne.ttf") format("truetype"), url("fonts/DaMiOne.woff") format("woff"), url("fonts/DaMiOne.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-main: #fff;
  --color-second: #0011C2;
  --color-grey: #6A6A6A;
  --color-bright: #fff;
  --color-dark: #000;
  --color-red: #b41313;
  --size-xxxxs: calc((1vw + 1vh) * 0.2);
  --size-xxxs: calc((1vw + 1vh) * 0.4);
  --size-xxs: calc((1vw + 1vh) * 0.6);
  --size-xs: calc((1vw + 1vh) * 0.8);
  --size-sm: calc((1vw + 1vh) * 1);
  --size-md: calc((1vw + 1vh) * 1.2);
  --size-lg: calc((1vw + 1vh) * 2);
  --size-xl: calc((1vw + 1vh) * 2.5);
  --size-xxl: calc((1vw + 1vh) * 3);
  --size-xxxl: calc((1vw + 1vh) * 5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: Main, Arial, Helvetica, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  color: var(--color-main);
}

body {
  background: var(--color-dark);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

.container {
  padding: var(--size-sm);
  padding-bottom: var(--size-xxl);
}

.headline {
  font-size: 5.5vw;
  line-height: 1.5;
  font-family: Main;
  margin-bottom: var(--size-xl);
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: var(--size-sm);
}

.divider {
  display: inline-block;
  width: var(--size-xxxs);
  height: var(--size-xxxs);
  border-radius: 10pc;
  background-color: var(--color-bright);
}

.unite {
  display: flex;
  width: 100%;
}
.unite--column {
  flex-direction: column;
}

.second-font {
  font-family: Second, First, Arial, Helvetica, sans-serif;
}

.extra-bold {
  font-weight: 800;
}

.z1 {
  z-index: 1 !important;
  position: relative;
}

.z2 {
  z-index: 2 !important;
  position: relative;
}

.w100 {
  width: 100% !important;
}

.outline-text {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  color: rgba(0, 0, 0, 0) !important;
}

.mobile-only {
  display: block;
}
@media (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

.table-only {
  display: none;
}
@media (min-width: 640px) {
  .table-only {
    display: block;
  }
}

.header {
  padding-bottom: var(--size-sm);
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
}
.header__content {
  display: flex;
  width: 100%;
  align-items: center;
}

.menu {
  margin-left: auto;
  position: relative;
}
.menu__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  top: 50%;
  transition: 0.3s;
  font-size: var(--size-sm);
  width: 90vw;
  right: 0;
  align-items: end;
  visibility: hidden;
}
.menu__link {
  text-transform: uppercase;
  font-weight: 700;
}
.menu--active .menu__list {
  opacity: 1;
  top: 150%;
  visibility: visible;
}
.menu--active .menu__hamburger span:nth-child(1) {
  transform: translateY(calc(var(--size-md) / 2.5)) rotate(25deg);
}
.menu--active .menu__hamburger span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}
.menu--active .menu__hamburger span:nth-child(3) {
  transform: translateY(calc(var(--size-md) / -2.5)) rotate(-25deg);
}
.menu__hamburger {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  height: var(--size-md);
}
.menu__hamburger span {
  display: block;
  border-radius: 10pc;
  width: 10vw;
  max-width: 122px;
  height: var(--size-xxxxs);
  transition: 0.3s;
  background-color: var(--color-main);
}
@media (min-width: 640px) {
  .menu__hamburger span {
    width: 7vw;
  }
}
@media (min-width: 1024px) {
  .menu__hamburger span {
    width: 5vw;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.hero {
  background: url(./images/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: var(--size-xxs);
  padding-top: var(--size-xxl);
  border-bottom: var(--size-xxxxs) solid var(--color-main);
  height: 100vh;
}
.hero__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hero__headline {
  font-size: 5.5vw;
  margin: 0;
  margin-top: auto;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.hero__headline .arrow {
  width: 5.5vw !important;
  height: auto !important;
}
.hero__headline .logo {
  width: 5.5vw !important;
  height: auto !important;
}
.hero__description {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: var(--size-md);
  font-size: var(--size-xs);
  text-transform: uppercase;
  flex-direction: column;
}
@media (min-width: 640px) {
  .hero__description {
    align-items: end;
    flex-direction: row;
  }
}
.hero__description * {
  font-weight: 700;
}
.hero__description .arrow {
  width: var(--size-xs);
}

.schedule--white {
  background-color: var(--color-bright);
}
.schedule--white .schedule__header *,
.schedule--white .schedule__footer *:not(.button) {
  color: var(--color-dark) !important;
}
.schedule__header {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
}
.schedule__header * {
  font-weight: 700;
  line-height: 1.1;
}
@media (min-width: 640px) {
  .schedule__header {
    flex-direction: row;
  }
}
.schedule__headline {
  font-size: var(--size-lg);
  margin: 0;
  padding: 0;
  max-width: 85%;
  line-height: 1.1;
}
@media (min-width: 640px) {
  .schedule__headline {
    font-size: var(--size-xl);
  }
}
.schedule__description {
  margin-top: var(--size-xxs);
  font-size: var(--size-xs);
  font-weight: 800 !important;
  flex: 1;
}
.schedule__list {
  list-style: none;
  counter-reset: number-counter;
  margin-top: var(--size-xl);
}
.schedule__item {
  counter-increment: number-counter;
  font-size: var(--size-lg);
  padding: var(--size-md);
  position: relative;
  text-transform: uppercase;
  color: var(--color-main);
  background-color: var(--color-second);
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.schedule__item::before {
  content: "[" counter(number-counter) "]";
  font-size: var(--size-xxxl);
  top: 1.7vw;
  font-weight: bold;
  color: var(--color-main);
  margin-bottom: auto;
}
@media (min-width: 640px) {
  .schedule__item {
    font-size: var(--size-md);
  }
}
@media (min-width: 1024px) {
  .schedule__item {
    font-size: var(--size-sm);
  }
}
.schedule__item-header {
  font-weight: 700;
  text-transform: uppercase;
}
.schedule__item-content {
  text-transform: none;
  line-height: 1.1;
  font-weight: 300;
}
.schedule__sublist {
  list-style: none;
  counter-reset: number-counter;
  font-size: var(--size-sm);
  padding-left: 0;
}
.schedule__subitem {
  counter-increment: number-counter;
  position: relative;
  text-transform: lowercase;
  color: var(--color-grey);
}
.schedule__footer {
  margin-top: var(--size-lg);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
}
.schedule__footer * {
  font-weight: 700;
}
@media (min-width: 640px) {
  .schedule__footer {
    flex-direction: row;
  }
}
.schedule__button {
  max-width: -moz-max-content;
  max-width: max-content;
}

.speakers {
  background: url(./images/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.speakers__headline {
  font-size: var(--size-xs);
  text-transform: uppercase;
  font-weight: 700;
}
.speakers__name {
  margin-top: var(--size-xl);
  font-size: calc(7vw - (1vw + 1vh) * 0.35);
  font-family: Second, Main, Arial;
}
.speakers__content {
  counter-increment: number-counter;
}
.speakers__description {
  margin-top: var(--size-lg);
  display: flex;
  flex-direction: column;
  font-size: var(--size-xxl);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
}
.speakers__description::before {
  content: "[" counter(number-counter) "]";
  font-size: var(--size-lg);
  top: 1.7vw;
  font-weight: bold;
  color: var(--color-second);
  margin-bottom: auto;
}

.location__map {
  height: calc((1vh + 1vw) * 25);
  width: 100%;
  border-radius: var(--size-sm);
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.registration__headline {
  font-size: var(--size-xs);
}
.registration__forms {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}
@media (min-width: 1024px) {
  .registration__forms {
    flex-direction: row;
    gap: var(--size-sm);
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--size-sm);
}
.form__headline {
  color: var(--color-bright);
  font-size: var(--size-xl);
  font-weight: 700;
}
.form__headline--description::before {
  content: "[предварительная]";
  text-transform: uppercase;
  font-size: var(--size-xs);
  position: absolute;
  transform: translateY(calc(var(--size-xxxs) * -1));
}
.form__description {
  text-transform: uppercase;
  font-size: var(--size-sm);
  color: var(--color-second);
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: var(--size-sm);
}
.form__button {
  margin-left: auto;
  margin-right: auto;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
}
.form__inputs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--size-sm);
}
.form__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__item--not-valid:not(.form__item--checkbox) .form__input {
  outline: 2px solid var(--color-red);
  color: var(--color-red);
  padding-right: var(--size-md);
}
.form__item--not-valid:not(.form__item--checkbox)::after {
  content: "✕";
  position: absolute;
  right: var(--size-xs);
  bottom: var(--size-xs);
  color: var(--color-red);
  font-size: var(--size-sm);
  font-weight: 600;
}
.form__item--focused .form__input {
  outline: 2px solid var(--color-main) !important;
}
.form__item--checkbox {
  display: flex;
  margin-bottom: var(--size-sm);
  position: relative;
  padding-left: var(--size-lg);
}
.form__input {
  padding: var(--size-sm) var(--size-md);
  font-size: var(--size-xs);
  border: 1px solid var(--color-second);
  border-radius: var(--size-sm);
  width: 100%;
  background-color: var(--color-bright);
  position: relative;
  color: var(--color-second);
  transition: all 0.2s ease;
}
.form__input:focus {
  outline: 2px solid var(--color-main);
}
.form__input::-moz-placeholder {
  color: var(--color-second);
  opacity: 0.7;
}
.form__input::placeholder {
  color: var(--color-second);
  opacity: 0.7;
}
.form__required {
  position: absolute;
  right: var(--size-md);
  top: var(--size-sm);
  font-size: var(--size-sm);
  color: var(--color-second);
  font-family: "Second", sans-serif;
  height: var(--size-md);
}
.form__required img {
  height: 100%;
}
.form__checkbox {
  position: absolute;
  opacity: 0;
  left: 0;
}
.form__checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-size: var(--size-xs);
  color: var(--color-bright);
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: var(--size-sm);
}
.form__checkbox + label:before {
  content: "";
  position: absolute;
  left: calc(-1 * var(--size-lg));
  top: 50%;
  transform: translateY(-50%);
  width: var(--size-sm);
  height: var(--size-sm);
  border: 1px solid var(--color-grey);
  border-radius: 10pc;
  background: var(--color-bright);
  box-sizing: border-box;
}
.form__checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--size-lg) + var(--size-xxs) * 0.35);
  top: 50%;
  transform: translateY(-50%);
  width: var(--size-xxs);
  height: var(--size-xxs);
  background: var(--color-second);
  border-radius: 10pc;
}
.form__checkbox:focus + label:before {
  box-shadow: 0 0 0 2px var(--color-main);
}

.error-message {
  display: none;
  position: absolute;
  top: 100%;
  color: var(--color-red);
  font-size: var(--size-xxs);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main);
  font-size: var(--size-sm);
  border-radius: var(--size-sm);
  padding: var(--size-xxs) var(--size-xl);
  background-color: var(--color-second);
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
}
.button:hover {
  background-color: var(--color-dark);
}
.button--second {
  background-color: var(--color-bright);
  color: var(--color-second);
}
.button--second:hover {
  background-color: var(--color-second);
  color: var(--color-bright);
}

.logo {
  height: calc(var(--size-md));
}
@media (min-width: 1024px) {
  .logo {
    height: calc(var(--size-lg));
  }
}

.logos {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
}

.footer {
  min-height: auto;
  position: relative;
  align-items: start;
}
.footer__content {
  display: grid;
  min-height: 100%;
  z-index: 3;
  gap: var(--size-sm);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
@media (min-width: 1024px) {
  .footer__content {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: var(--size-sm);
  }
}
.footer__logo {
  height: calc(var(--fs-xl) * 1.5);
  grid-column: 1/-1;
  display: block;
}
.footer__links {
  display: none;
}
@media (min-width: 1024px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxxs);
  }
}
.footer__contacts {
  grid-column: 1/-1;
}
@media (min-width: 1024px) {
  .footer__contacts {
    grid-column: 5;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxs);
}
.footer__label {
  font-size: var(--size-md);
  font-weight: 600;
  margin-bottom: var(--space-md);
  line-height: 1.2;
}
.footer__sub-label {
  font-size: var(--size-sm);
  font-weight: 600;
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxs);
  font-size: var(--size-xxs);
}
.footer__text a,
.footer__text span {
  color: var(--color-white);
  text-decoration: none;
  transition: opacity 0.3s;
  line-height: 1.5;
  font-size: var(--size-xxs);
}
.footer__text a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.footer__social {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-sm);
  gap: var(--size-sm);
}
.footer__icons {
  display: flex;
  gap: var(--size-sm);
}
.footer__icons a {
  transition: opacity 0.3s;
}
.footer__icons a:hover {
  opacity: 0.7;
}
.footer__icons img {
  height: var(--size-md);
}
.footer__link {
  font-size: var(--size-xxs);
  text-decoration: underline;
  transition: opacity 0.3s;
}
.footer__link:hover {
  opacity: 0.8;
}
.footer__copy {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  gap: var(--size-sm);
  flex-direction: column;
  font-size: var(--size-xxs);
  margin-top: var(--size-sm);
  padding-top: var(--size-sm);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.7;
}
@media (min-width: 1024px) {
  .footer__copy {
    flex-direction: row;
  }
}
.footer__copy-text {
  max-width: 550px;
  width: 100%;
}

.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: var(--color-dark);
}
.modal__window {
  padding: var(--size-xl) var(--size-lg);
  background-color: var(--color-bright);
  border-radius: var(--size-sm);
  max-width: 350px;
  position: relative;
  margin: var(--size-lg);
}
@media (min-width: 640px) {
  .modal__window {
    max-width: 550px;
  }
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  z-index: 10;
  margin-left: auto;
}
.modal__close span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-main);
  transition: all 0.3s ease;
}
.modal__close span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.modal__close span:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-lg);
  color: var(--color-dark);
  text-align: center;
}
.modal__headline {
  font-size: var(--size-md);
  color: var(--color-dark);
  line-height: 1.2;
  font-weight: 800;
}
.modal__text {
  font-size: var(--size-sm);
  line-height: 1.2;
  color: var(--color-dark);
}